---
import Button from './Button.astro';
---

<header class="grid-lg">
    <div class="grid-sm">
        <h1 class="h1">Your King of Designer</h1>
        <p class="text-muted narrow">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate suscipit quam, nostrum reprehenderit molestiae ullam amet aut quis accusamus blanditiis, voluptatum sit modi tempore officiis itaque? Hic, id corporis magni vel dolores architecto numquam minima.</p>
    </div>
    <div class="grid-sm">
        <Button text='Contact Me' link='#' style='secondary' />
        <small class="text-muted">No commitment contact</small>
    </div>
</header>