---
import { Icon } from 'astro-icon';
---
<section class="programmer container blur grid-sm">
    <Icon name="programmer" width="400px" class="programmer-icon" alt="Programmer picture" aria-hidden="true" />
</section>